*
!*/
/test

!/.config/alacritty/base.yml
!/.config/direnv/direnvrc
!/.config/gh/config.yml
!/.config/git/_config
!/.config/git/ignore
!/.config/gitui/key_config.ron
!/.config/gitui/theme.ron
/.config/iterm2/*
!/.config/iterm2/com.googlecode.iterm2.plist
!/.config/karabiner/karabiner.json
!/.config/nvim/autoload/*.vim
!/.config/nvim/autoload/plug/*.vim
!/.config/nvim/autoload/user/*.vim
!/.config/nvim/lua/*.lua
!/.config/nvim/lua/**/*.lua
!/.config/nvim/init.vim
!/.config/prettier/.prettierrc.yml
!/.config/skhd/skhdrc
!/.config/starship/starship.toml
!/.config/stylua/stylua.toml
!/.config/tmux/tmux.conf
!/.config/tmux/styles/*.conf
!/.config/wezterm/wezterm.lua
!/.config/winterm/settings.tpl.json
!/.config/wsl/.wslconfig
!/.config/wsl/wsl.conf
/.config/zsh/*
!/.config/zsh/.zshenv
!/.config/zsh/.zshrc
!/.config/zsh/lazy.zsh
!/.config/zsh/completions
!/.config/zsh/completions/_*
!/.config/zsh/completions/git-completion.bash
!/data/templates/**/*

!/bin/chcs
!/bin/dotsync
!/bin/git-wt
!/bin/mk
!/bin/rand
!/bin/tms
!/bin/winterm-gen
!/bin/wslsync

!/.editorconfig
!/.gitignore
!/Dockerfile
!/init.sh
!/install.sh
!/Makefile
!/README.md
!/stylua.toml
