*
!*/
/test

!/.config/alacritty/base.yml
!/.config/alacritty/colorschemes/*.yml
!/.config/bat/themes/*.tmTheme
!/.config/gh/config.yml
!/.config/git/config.tpl
!/.config/git/ignore
!/.config/gitui/key_config.ron
!/.config/gitui/theme.ron
/.config/iterm2/*
!/.config/iterm2/com.googlecode.iterm2.plist
!/.config/nvim/toml/*.toml
!/.config/nvim/user/*.vim
!/.config/nvim/autoload/user/*.vim
!/.config/nvim/autoload/plug/*.vim
!/.config/nvim/dein.vim
!/.config/nvim/init.vim
!/.config/nvim/coc-settings.json
!/.config/starship/starship-tmux.toml
!/.config/starship/starship.toml
!/.config/tmux/tmux.conf
!/.config/tmux/styles/*.conf
!/.config/winterm/settings.tpl.json
!/.config/wsl/.wslconfig
!/.config/wsl/wsl.conf
/.config/zsh/*
!/.config/zsh/.zshrc
!/.config/zsh/.zshenv
!/.config/zsh/aliases.zsh
!/.config/zsh/fzf.zsh
!/.config/zsh/utils.zsh
!/.config/zsh/mac.zsh
!/.config/zsh/wsl.zsh
!/.config/zsh/zinit.zsh
!/.config/zsh/completions
!/.config/zsh/completions/_*
!/.config/zsh/completions/git-completion.bash

!/bin/chcs
!/bin/git-wt
!/bin/mk
!/bin/tms
!/bin/vim-tabline-git-diff
!/bin/winterm-gen
!/bin/wslsync

!/.editorconfig
!/.gitignore
!/Dockerfile
!/init.sh
!/install.sh
!/Makefile
!/README.md
